/* initialization */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/* vote average color */

.red {
  color: #dd1212;
}

.yellow {
  color: rgb(223, 220, 89);
}

.green {
  color: rgb(71, 221, 51);
}

/* body */

body {
  background-color: rgb(7, 7, 56);
}

/* header-section */

.header-section {
  background-color: rgba(6, 6, 46, 0.815);
  height: 50px;
  width: 100%;
}

.search-form {
  float: right;
  line-height: 50px;
  padding-right: 50px;
}

.search-form input {
  border-radius: 30px;
  height: 30px;
  padding-left: 20px;
  color: antiquewhite;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.432);
}

.search-form input:focus {
  outline: none;
}

.search-btn {
  color: antiquewhite;
  background-color: rgba(6, 6, 46, 0.815);
  border: none;
  font-size: medium;
  margin-top: 10px;
  cursor: pointer;
}

/* card-container */

.card-container {
  padding: 10px 10px 10px 10px;
}

/* card */

.card {
  float: left;
  width: 300px;
  height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.432);
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #12092b;
  background-color: rgb(29, 29, 88);
  border: none;
  position: relative;
}

.card-top img {
  width: 300px;
  height: 300px;
  z-index: 1;
}

.movie-title {
  color: antiquewhite;
  float: left;
  line-height: 60px;
  padding-left: 20px;
  font-size: 15px;
}

.movie-mark-container {
  float: right;
  line-height: 90px;
  padding-top: 30px;
  padding-right: 20px;
}

.movie-mark {
  line-height: 32px;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(7, 7, 56);
}

.front-display {
  z-index: -9999;
}

.movie-overview {
  display: none;
  z-index: 999;
  position: absolute;

  width: 300px;
  height: auto;
  margin-top: -300px;
  background-color: rgb(202, 202, 219);
  color: #12092b;
}
